:host {
  display: block;
  --slds-c-card-color-background: #0176d3;
  --slds-c-card-text-color: white;
  --slds-c-card-header-spacing-block-end: 0px;
  --slds-c-card-header-spacing-block-start: 0px;

  /* Removes SF Card body padding/margin top/bottom only */
  --slds-c-card-body-spacing-block-start: 0px;
  --slds-c-card-body-spacing-block-end: 0px;
  --slds-c-grid-margin-top: 0px;
}
.logo {
  height: 2.5rem;
  margin-left: 0.5rem;
}
.today {
  padding-top: 1rem;
  background-color: #014486;
}
